.search-tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.search-tracking p {
    font-size: 24px;
    font-family: 'Avenir';
    text-align: center;
}

.search-underline {
    width: 50%; /* Adjust to make the line longer or shorter */
    border: none;
    border-top: 3px solid #EE2677; /* Pink color and thickness */
    margin: 0 auto 15px auto; 
    margin-bottom: 30px;
}

.search-input-container {
    display: flex;
    gap: 10px; 
    margin-bottom: 30px;
}

.search-tracking input {
    font-size: 20px;
    width: 520px;
    padding: 12px;
    border: solid 1px black;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Avenir';
}

.search-tracking button {
    padding: 12px;
    font-family: 'Avenir';
    font-size: 20px;
    background-color: #163760;
    color: white;
    font-weight: 400;
    width: 120px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.search-tracking button:hover {
    background-color: #2a6ab8;
}
