@import url('https://fonts.googleapis.com/css2?family=Ligconsolata:wght@400;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-around;
}

.linkToLanding {
    text-decoration: none;
    cursor: pointer;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-logo img{
    height: 60px;
}

.nav-logo p{
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Ligconsolata', monospace;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Avenir';
}

.nav-menu li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    padding: 10px 10px;
}

.nav-menu li::after {
    content: "";
    position: absolute;
    bottom: 5px; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #EE2677;
    transition: width 0.3s ease;
}

.nav-menu li:hover::after {
    width: 100%; 
}

.login-items{
    display: flex;
    align-items: center;
    gap: 45px;
}

.login button{
    width: 130px;
    height: 45px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    background: white;
    cursor: pointer;
    font-family: 'Avenir';
    transition: background-color 0.3s ease;

}

.login button:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.signup button{
    color: white;
    font-size: 20px;
    font-family: 'Avenir';
    font-weight: '400';
    /* width: 130px;
    height: 45px; */
    border-radius: 15px;
    background-color: #163760;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    padding: 10px 30px;
    white-space: nowrap;
}

.signup button:hover{
    background-color: #2a6ab8;

}