[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
faker = "*"
openai = "*"
flask-limiter = "*"
requests = "*"
python-dotenv = "*"
squareup = "*"
coverage = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.12"
