.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    margin-top: 20px;
    padding-top: 20px;
}

.footer .footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #f4f4f4;
    font-size: 20px;
 }

 .footer .footer-links li{
    cursor: pointer;
 }

.footer-logo {
    display: inline-flex;
    align-items: center;
}

.footer-logo p {
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Ligconsolata', monospace;
    position: relative;
    color: #f4f4f4;
}

.footer-logo img {
    height: 15px;
    margin-right: 8px;
    height: 15px;
}

.footer-logo p::before,
.footer-logo p::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 0.1px; 
    background-color: rgb(160, 160, 160);
    width: 350px; 
}

.footer-logo p::before {
    left: -380px; 
}

.footer-logo p::after {
    right: -380px; 
}

.footer-copyright p {
    font-size: 10px;
    color: rgb(135, 135, 135);
    margin-bottom: 20px;
}
